require 'rubygems'
require 'gemstub'

<% if rspec? -%>
Gemstub.test_framework = :rspec
<% elsif unit? -%>
Gemstub.test_framework = :test_unit
<% end -%>

Gemstub.gem_spec do |s|
  # s.version = "0.0.1"
  # s.rubyforge_project = "<%= app -%>"
  # s.add_dependency('')
end

Gemstub.rdoc do |rd|
  rd.title = "<%= app -%>"
end