require 'rubygems'
require 'rspec'

require File.join(File.dirname(__FILE__), '..', 'lib', '<%= app %>')

Rspec.configure do |config|
  
  config.before(:all) do
    
  end
  
  config.after(:all) do
    
  end
  
  config.before(:each) do
    
  end
  
  config.after(:each) do
    
  end
  
end